@font-face {
  font-family: "Nanum Gothoc";
  src: url(/미션답/font/NanumGothic.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Nanum Gothoc";
}
