@import url("/0904/08\ layout\ 01/reset.css");

/* header */
#main header {
  width: 960px;
  height: 160px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #000;
}
#main_header > title {
  position: absolute;
  top: 30px;
  left: 20px;
}
#main_header > #min_gnb {
  position: absolute;
  top: 0;
  right: 0;
}
#main_header > #main_lnb {
  position: absolute;
  bottom: ;
}
