.Header {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}
.Header > div {
  display: flex;
}
.Header button {
  font-family: "Gaegu";
}

.Header .header-right {
  width: 25%;
  justify-content: end;
}
.Header .header_title {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}
.Header .header-left {
  width: 25%;
  justify-content: start;
}
