body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 500px 500px 500px;
  grid-template-areas:
    "header"
    "nav"
    "photo"
    "footer";
}
.wrap > div {
  border: 1px solid #000;
  padding: 20px;
  font-size: 20px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.header {
  grid-area: header;
}
.nav {
  grid-area: nav;
}
.photo {
  grid-area: photo;
}
.header {
  grid-area: footer;
}
